#-- Configuration
secret.key

#-- Elm
docs/_build/
elm-stuff/
frontend/src/Hercules.elm
frontend/index.html
node_modules/

#-- Haskell & Stack
cabal-dev
cabal.sandbox.config
cabal.project.local
dist
dist-*
dist/
*.aux
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.eventlog
*.hi
*.hp
*.o
*.prof
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
.HTF/

#-- Nix
result

#-- Unix
*~

#-- Vim
*.swp
