Config 
  { configPort = 8080
  , configHostName = "localhost"
  , configAccessLogLevel = Disabled
  , configConnectionString = "postgresql://hydra@/hydra"
  , configGoogleAuthInfo = Nothing
  , configGitHubAuthInfo = Nothing
  }
